/* From Uiverse.io by biswacpcode */ 
.admin-panel-btn {
  color: white;
  text-decoration: none;
  font-size: 15px; /* Adjusted from 25px to fit better in navbar, can be tuned */
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.admin-panel-btn::before {
  margin-left: auto;
}

.admin-panel-btn::after, .admin-panel-btn::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.admin-panel-btn:hover::after, .admin-panel-btn:hover::before {
  width: 100%;
}
